<implementation.solvers.SempEmptySolver>
  <mandatoryParams>
    <string>MODULE_PATH</string>
    <string>MODULE_LAUNCHER</string>
  </mandatoryParams>
  <options>
    <entry>
      <string>some_parameter</string>
      <string>true</string>
    </entry>
  </options>
</implementation.solvers.SempEmptySolver>