<implementation.solvers.SempSolver>
  <methods>
    <core.repository.MethodSignature>
      <name>EfficiencyTrendAnalysis</name>
      <status>
        <code>-1</code>
      </status>
      <params>
        <entry>
          <string>MODULE_LAUNCHER</string>
          <string>EfficiencyTrendAnalysis_Launcher.pm</string>
        </entry>
        <entry>
          <string>MODULE_PATH</string>
          <string>~/.wine/drive_c/semp/modules/XMLEfficiencyTrendAnalysis/</string>
        </entry>
        <entry>
          <string>MODULE_DATA_INPUT</string>
          <string>EfficiencyTrendAnalysis_Rules.pm</string>
        </entry>
      </params>
    </core.repository.MethodSignature>
  </methods>
  <mandatoryParams>
    <string>MODULE_PATH</string>
    <string>MODULE_LAUNCHER</string>
    <string>MODULE_DATA_INPUT</string>
  </mandatoryParams>
  <options/>
</implementation.solvers.SempSolver>